<footer class="footer bg-dark py-3 mt-auto">
    <p>&copy; Made By Team Creedorian For Hack O Heist By IEEE IEEE CS ADGITM</p>
    <a href="https://www.linkedin.com/in/mrarthor/">Vansh Sachdeva</a> And
    <a href="https://www.linkedin.com/in/ishita-singh1808"> Ishita Singh</a>
</footer>